body{
    background-image: url(imagens/background\ pink.png);
}

div{
    text-align: center;
    margin-top: 90px;
}


div img{
    width: 120px;
    border-radius: 50%;
    
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-bottom: 20px;

}

p{
    font-size: 20px;
    color: rgb(72, 71, 71);
}

button{
    width: 90%;
    height: 70px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.256);
}

@media (min-width:700px){
    button{
        width: 600px;
    }
}

div button a{
    text-decoration: none;
    color: rgb(2, 39, 246);
    font-size: 20px;
}



